@import "mixins.less";

@font-face {
	font-family: "Born";
	src: url("../fonts/Born.otf");
	font-style: normal;
}

@font-face {
	font-family: "Gotham Rounded";
	src: url("../fonts/GOTHAMRND-BOOK.otf");
	font-weight: normal;
	font-style: normal;
}

html {
	width: 100%;
	height: 100%;
	//background-color: #006395;
	background-color: #fff;
}

body {
	margin: 0 auto;
	width: 1366px;
	height: 100%;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	display: table;
}

h1 {
	font-family: 'Born';
	color: #00a88c;
	-webkit-font-smoothing: antialiased;
	padding: 27px 0 26px 28px;
}

.editor {
	width: 100%;
	height: 100%;

	.box-sizing();

	.content-pane {

		width: 78.5%;
		height: 100%;
		display: table;

		.navigation-pane {
			background-color: #f8f9f9;
			width: 290px;
			height: 100%;

			h1 {
				font-size: 1.7em;
			}

		}

		.nav {
			width: 100%;
			height: 700px;
			overflow: scroll;
			margin-bottom: 50px;
		}

		h2 {
			text-transform: uppercase;
			font-family: 'Gotham Rounded';
			color: #7a7a7a;
			background-color: #e9e9e9;
			padding: 17px 0 17px 28px;
		}

		h3, h4 {
			font-weight: 600;
		}

		h3:hover, h4:hover, .section li:hover {
			cursor: pointer;
			color: #00a88c;
		}

		h4 {
			font-size: 0.9em;
		}

		ul {
			font-family: 'Gotham Rounded';
			color: #515151;
			padding: 16px 28px 0px;

			.box-sizing ();
		}

		li {
			padding: 14px 0 7px 21px;
		}

		.section li:hover {
			position: relative;
			background-color: #e2f7f2;
			width: 290px;
			height: 13px;
			padding: 14px 0 7px 21px;
			font-weight: 600;
		}

		.survey-pane {
			overflow: hidden;
			position: relative;

			background-color: #fff;

			width: 73%;
			height: 100%;
			display: table-cell;
			vertical-align: top;
		}

		.survey-page {
			overflow: hidden;
			position: relative;

			background-color: #fff;

			width: 786px;
			height: 100%;
		}

		.topbar {
			position: relative;
			max-height: 43px;
			padding: 0;
			background-color: #515b61;
			height: 100%;
		}

		.text-settings {
			position: relative;
			display: inline-block;
			padding: 0;
			color: white;
		}

		.text-settings li {
			display: inline-block;
		}

		.survey-actions {
			float: right;
			color: white;
			display: inline;
		}

		.survey-actions li {
			display: inline-block;
			padding: 0;
		}


	}

	.editor-bar {
		display: block;
		position: relative;
		bottom: 3px;

		width: 290px;
		height: 100%;

		min-height: 20em;
		background-color: #f8f9f9;

		.user {
			font-size: 1.42em;
			text-align: right;
			padding-right: 28px;
		}

		.element-list {
			width: 100%;

			overflow: scroll;

			.element-sample:hover {
				background-color: #e2f7f2;
				cursor: pointer;
				font-weight: 600;
				color: #00a88c;
			}

			.element-sample {
				width: 75px;
				display: inline-block;

				.icon {
					width: 50px;
					height: 50px;
				}
			}

			li {
				padding: 16px 0;

				header {
					padding-bottom: 8px;
					text-align: center;
				}

				.icon {
					margin: 0 17%
				}
			}
		}
	}
}

.element {
	width: 150px;
	height: 40px;

	border: 1px dashed #666;

	input {
		width: 100%;

		&[type="button"] {
			height: 100%;
		}
	}
}

.edit-tooltip {
	position: absolute;
}
