.element {
	h1, h5, span {
		font-family: 'Open Sans', sans-serif;
		display: inline-block;

		-webkit-font-smoothing: antialiased;
	}

	h1, span {
		font-size: 2.14em;
	}

	h1, h5 {
		font-weight: 600;
		color: #515151;
	}

	span {
		padding: 0 10px;
		color: #c9cc84;
		position: relative;
		bottom: 2px;
	}

	h5 {
		position: relative;
		height: 50;
		bottom: 6px;
		word-wrap:break-word;
		display:inline-block;
	}
}

