.element {
	h1, .text, .divider {
		font-family: 'Open Sans', sans-serif;
		display: inline-block;

		-webkit-font-smoothing: antialiased;
	}

	h1, .divider {
		font-size: 2.14em;
	}

	h1, .text {
		font-weight: 600;
		color: #515151;
	}

	.divider {
		padding: 0 10px;
		color: #c9cc84;
		position: relative;
		bottom: 3px;
	}

	.text {
		position: relative;
		height: 50;
		bottom: 6px;
		word-wrap:break-word;
		display:inline-block;
	}

	.heading {
		font-size: 48px;
		color: #e76441;
	}
}

.button {
	background-color: #449644;
	color: #fff;
	font-family: 'Gotham Rounded';
	text-transform: uppercase;
	font-weight: 500;
	font-size: 1em;
	-webkit-font-smoothing: antialiased;
	border: none;
	padding-top: 5.5px;
}

input[type='radio'] {
	width:13px;
	height:13px;
	-webkit-appearance:none;
	background-image: url('../images/radio_unchecked.png');
	padding:5px;

	&:checked {
	background-image: url('../images/radio_checked.png');
	padding: 5px
	}

}

.img-option {
	display: block;
	max-height: 126px;
	max-width: 126px;
	padding-bottom: 10px;
}

.center {
	text-align: center;
	color: #515151;
	font-size: 1em;
	-webkit-font-smoothing: antialiased;
}

.frame {
	line-height: 18px;
	padding: 20px;
	background-color: #f3f4f4;
	color: #777776;
	max-height: 200px;
	overflow: scroll;
}

footer {
	padding: 15px;

	.text {
		top: 0px;
		left: 5px;
	}
}

.checkbox {
	width: 100px;
	-webkit-appearance:none;
	background-image: url('../images/checkbox_unchecked.png');
}